# NFT source files
/nftFlowers

# truffle
/truffle/build/contracts/*
/truffle/contracts/abi.txt
/truffle/node_modules
*.env
*.log

# hardhat
/hardhat/node_modules
/hardhat/cache/*
/hardhat/.secret
/hardhat/.infura
/hardhat/.etherscan

